#nav-bar {
  display: flex;
  font-size: 14px;
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  flex-wrap: wrap;
}
@media screen and (min-width: 600px) {
  #nav-bar {
    background-color: lightblue;
  }
}
#logo {
  margin-left: 20px;
  vertical-align: middle;
  padding-right: 15px;
}

#nav-bar > ul > a > li {
  display: inline-block;
  padding: 8px;
}
#nav-bar > ul > li {
  display: inline-block;
  padding-right: 10px;
}
@media only screen and (max-width: 600px) {
  #nav-bar > ul > a > li {
    float: none;
    width: 100%;
  }
}
.nav-items {
  color: black;
  opacity: 0.7;
}
.nav-items:active {
  transform: scale(0.9);
  transition-duration: 0.1s;
}
a > .nav-items {
  text-decoration: none;
}
.Loginbtns {
  margin-left: 10em;
  margin-right: -11em;
}
#login-btn {
  border: 2px solid transparent;
  background: transparent;
  font-family: "Montserrat";
  font-size: 20px;
  color: #0081b4;
  font-weight: 600;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  #login-btn  {
    flex-direction: column;
    float: none;
    width: 100%;
  }
}
#signup-btn {
  font-family: "Montserrat";
  font-size: 15px;
  border-radius: 25px;
  border: 15px solid transparent;
  width: 8em;
  background-color: #0081b4;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
#signup-btn:hover {
  background-color: white;
  color: #0081b4;
}
